{{ template "base" .}}
{{ define "title"}}
About
{{ end }}
{{define "content"}}
<div class="grid text-center" style="margin:10% auto;">
  <ul class="w3-ul w3-card-4">
    <li>
      <h2>Crew Assistant Application</h2>
    </li>
    <li class="w3-padding-small">
      Version 1.0
    </li>
  </ul>
</div>
{{ end }}