{{ template "base" .}}
{{ define "title"}}
Home
{{end}}

{{define "content"}}
<div class="grid text-center" style="margin:10% auto;">
  <div class="row mb-2">
    <h2 class="mb-5">Welcome to the Crew Assistant App</h2>
  </div>

{{$sig := index .Data "signin"}}
  <form action="/login" method="post" class="needs-validation" novalidate>

    <div class="mb-3">
      <label for="email" class="form-label w3-left">
        <strong>
          Email
          {{with .Form.Errors.Get "email"}}
            <label for="" class="text-danger">{{.}}</label>
          {{end}}
        </strong>
      </label>

      <input type="text" class="form-control" id="email" name="email" placeholder="Enter account email" autocomplete="off" value="{{$sig.Email}}"/>
    </div>

    <div class="mb-3 mt-1">
      <label for="password" class="form-label w3-left">
        <strong>
          Password
          {{with .Form.Errors.Get "password"}}
            <label for="" class="text-danger">{{.}}</label>
          {{end}}
        </strong>
      </label>

      <input type="password" class="form-control" id="password" name="password" placeholder="Enter login password" autocomplete="off" value="{{$sig.Password}}">
    </div>

    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

    <div class="input-group flex-nowrap w3-margin-top">
      <input class="w3-btn w3-blue w3-ripple w3-round-large" type="submit" value="Sign In">
    </div>
  </form>
</div>
{{end}}