{{template "admin" .}}
{{ define "title"}}
Settings
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="w3-container w3-margin">
                    <div class="w3-container w3-row">
                        {{$user := index .Data "loggedin"}}

                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}