{{ template "base" .}}
{{ define "title"}}
Settings
{{end}}

{{define "content"}}
<div class="grid text-center" style="margin:10% auto;">
  <div class="row mb-2">
    <h2 class="mb-5">Settings</h2>
  </div>

{{end}}