{{template "admin" .}}
{{ define "title"}}
User
{{end}}

{{define "content"}}
<div class="row">
    {{$member := index .Data "member"}}
    {{$user := index .Data "loggedin"}}
    {{$profile := index .Data "profile"}}
    {{$settings := index .Data "settings"}}
    {{$users := index .Data "allusers"}}

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">{{$member.FirstName}} {{$member.LastName}}</p>
                <div class="w3-container w3-margin">
                    <div class="w3-container w3-row">
                        <form action="/admin/user/update" method="post" class="needs-validation" novalidate>

                            <div class="mb-3">
                                <label for="fname" class="form-label w3-left">
                                    <strong>
                                        Edit first name
                                        {{with .Form.Errors.Get "fname"}}
                                        <label for="" class="text-danger">{{.}}</label>
                                        {{end}}
                                    </strong>
                                </label>

                                <input type="text" class="form-control {{with .Form.Errors.Get "fname"}} is-invalid
                                    {{end}}" name="fname" placeholder="Enter first name" autocomplete="off"
                                    aria-label="First Name" aria-describedby="addon-wrapping"
                                    value="{{$member.FirstName}}">
                            </div>

                            <div class="mb-3">
                                <label for="lname" class="form-label w3-left">
                                    <strong>
                                        Edit last name
                                        {{with .Form.Errors.Get "lname"}}
                                        <label for="" class="text-danger">{{.}}</label>
                                        {{end}}
                                    </strong>
                                </label>
                                <input type="text" class="form-control {{with .Form.Errors.Get "lname"}} is-invalid
                                    {{end}}" name="lname" placeholder="Enter last name" autocomplete="off"
                                    aria-label="Last Name" aria-describedby="addon-wrapping" value="{{$member.LastName}}">
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label w3-left">
                                    <strong>
                                        Edit email
                                        {{with .Form.Errors.Get "email"}}
                                        <label for="" class="text-danger">{{.}}</label>
                                        {{end}}
                                    </strong>
                                </label>
                                <input type="text" class="form-control {{with .Form.Errors.Get "email"}} is-invalid
                                    {{end}}" name="email" placeholder="Enter email address" autocomplete="off"
                                    aria-label="Email" aria-describedby="addon-wrapping" value="{{$member.Email}}">
                            </div>

                            <div class="mb-3">
                                <label for="phone" class="form-label w3-left">
                                    <strong>
                                        Edit phone
                                        {{with .Form.Errors.Get "phone"}}
                                        <label for="" class="text-danger">{{.}}</label>
                                        {{end}}
                                    </strong>
                                </label>
                                <input type="text" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid
                                    {{end}}" name="phone" placeholder="Enter phone number" autocomplete="off"
                                    aria-label="Phone" aria-describedby="addon-wrapping" value="{{$member.Phone}}">
                            </div>

                            <div class="mb-3">
                                <label for="accesslevel" class="form-label w3-left">
                                    <strong>
                                        Edit access level
                                        {{with .Form.Errors.Get "accesslevel"}}
                                        <label for="accesslevel" class="text-danger">{{.}}</label>
                                        {{end}}
                                    </strong>
                                </label>
                                <input type="int" class="form-control {{with .Form.Errors.Get "accesslevel"}}
                                    is-invalid {{end}}" name="accesslevel" placeholder="Enter access level" autocomplete="off"
                                    aria-label="Access Level" aria-describedby="addon-wrapping" value="{{$member.AccessLevel}}">
                            </div>

                            <div class="mb-3">
                                <label for="createdat" class="form-label w3-left">
                                    <strong>
                                        Creation Date
                                    </strong>
                                </label>
                                <input type="text" class="form-control" readonly name="createdat" autocomplete="off"
                                    aria-label="Creation Date" aria-describedby="addon-wrapping"
                                    value="{{$member.CreatedAt}}">
                            </div>

                            <div class="mb-3">
                                <label for="updatedat" class="form-label w3-left">
                                    <strong>
                                        Last Updated
                                    </strong>
                                </label>
                                <input type="text" class="form-control" readonly name="updatedat" autocomplete="off"
                                    aria-label="Update Date" aria-describedby="addon-wrapping"
                                    value="{{$member.UpdatedAt}}">
                            </div>


                            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                            <input type="hidden" name="id" value="{{$user.ID}}">
                            <input type="hidden" name="password" value="{{$user.Password}}">

                            <div class="d-flex flex-wrap justify-content-between">
                                <input class="w3-btn w3-green w3-ripple w3-round-large" type="submit" value="Update">

                                <a href="/admin/user/remove" class="w3-btn w3-red w3-ripple w3-round-large">
                                    Remove
                                </a>

                                <a href="/admin/users" class="w3-btn w3-blue w3-ripple w3-round-large">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}